---
import Base from "../layouts/Base.astro";
---

<Base title="Página no encontrada">
  <div
    class="px-4 mt-40 md:mt-52 lg:mt-60 2xl:mt-64 mb-24 sm:mb-28 md:mb-32 lg:mb-36 2xl:mb-44 flex flex-wrap justify-center items-center"
  >
    <h2
      class="block text-brand dark:text-white text-center text-lg sm:text-xl sm:leading-[160%] md:text-[22px] lg:text-2xl lg:leading-[165%] sm:max-w-[48ch] mb-4"
    >
      Página no econtrada
    </h2>
    <p class="block w-full text-center text-sm">
      Esta página no existe. Puedes ver mis proyectos <a
        href="/"
        class="underline hover:no-underline">aquí</a
      > o conocer sobre mi <a href="/about" class="underline hover:no-underline"
        >aquí</a
      >.
    </p>
  </div>
</Base>
